altgraph==0.17.5
black==26.3.1
click==8.3.1
colorama==0.4.6
macholib==1.16.4
mypy_extensions==1.1.0
numpy==2.4.3
opencv-python==4.13.0.92
packaging==26.0
pathspec==1.0.4
pefile==2024.8.26
pillow==12.2.0
platformdirs==4.9.4
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.3
pytesseract==0.3.13
pytokens==0.4.1
pywin32-ctypes==0.2.3
setuptools==82.0.1
